/*======================================================================*\
|| #################################################################### ||
|| # Copyright ©2006-2009 Youjoomla LLC. All Rights Reserved.           ||
|| #################################################################### ||
\*======================================================================*/
/*opneing links container*/
.poping_links{
display:block;
text-align:center !Important;
width:100%;
position:relative;
height:150px;
overflow:hidden;
}
/* opening buttons*/
#openLogin,#openReg{
display:inline-block;
height:25px;
width:60px;
clear:right;
text-align:center;
line-height:25px;
background:#efefef;
border:1px solid #ccc;
color:#000;
text-decoration:none;
margin:10px 3px;
}
#openLogin:hover,#openReg:hover{
color:#999;
}
/* login box*/
#login_pop{
position:fixed;
width:250px;
height:220px;
top:150px;
background:#151515;
color:#ccc;
text-align:left;
padding:10px;
border:10px solid #ccc;
z-index:1000000;
}
/* registration box */
#reg_pop{
position:fixed;
width:405px;
height:300px;
top:150px;
background:#151515;
color:#ccc;
text-align:left;
padding:10px;
border:10px solid #ccc;
z-index:1000000;
}
#reg_pop .inputbox{
width:93%;
}
/* closing buttons*/
#closeReg,#closeLogin{
display:inline-block;
width:100px;
height:25px;
width:60px;
position:absolute;
bottom:5px;
right:5px;
text-align:center;
line-height:25px;
background:#ccc;
color:#000;
text-decoration:none;
}
/* input boxes and rest */
#yjpop_passwd{
width:98%;
margin:0;
padding:0;
}
#yjpop_username{
width:98%;
margin:0;
padding:0;
}
#yjpop_remember{
}
#login_pop .button{
margin:10px 0;
}
/* logeedin class */
#logins{
text-align:center !Important;
display:block;
width:100%;
height:auto !Important;
overflow:hidden;
clear:both;
}
#logins .button{
margin:10px 0;
}
