/* CSS Document */

/* Videoflow main container*/

  #vfwrapper {
    padding: 5px;
    position: relative;
    height:100%;
    overflow:visible;
    float:left;
    margin-right: auto;
    margin-left:auto;
    width: 680px;
  }

  #vfwrapper a {color:#3B5998;}
  #vfwrapper a:link, a:visited, a:active {text-decoration: none !important;}
  #vfwrapper a:hover, a:focus {text-decoration: underline !important;}
  
  #vftabview {
    padding: 2px;
    position: relative;
    height:100%;
    overflow:hidden;
    float:left;
    margin-right: auto;
    margin-left:auto;
    width: 500px;
    padding: 2px 4px;
  }

  #vftabview a {color:#3B5998;}
  #vftabview a:link, a:visited, a:active {text-decoration: none !important;}
  #vftabview a:hover, a:focus {text-decoration: underline !important;}

 .vfsimpleplay{
 overflow: hidden;
 border:none;
 padding:5px;
 margin: 0px auto;
 }

 table.vftable {
    border:none;
    width:100%;
    border:none;
  }
  
  table.vftable td {
    padding: 0px;
    border: none;
    padding: 1px;
  }
  
  table.vftable tr {
    padding: 0px;
    border: none;
  }
  
    table.vfmedinfo{
   margin:auto;
   text-align:left; 
  }
  
  table.vfmedinfo td {
   padding: 2px 10px; 
  }
  
/* Videoflow navigation bar */
  #vfnavig {
    width: 98%;
    margin-top: 5px;
    margin-bottom: 10px; 
    height: 24px;
    padding: 0px 4px; 
    text-align: center !important;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    overflow:hidden;
    border-color: #E9E9E9;
  }  
  
/* Round corner style - Doesn't work in IE */
  .vfround, .vftextbox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border:1px solid #E9E9E9;
  }
  
/* Menu items style */
  
  .vfmenu {
 /* min-width: 12%;*/
  padding: 2px 4px; 
  overflow: hidden;
  float:left;
  height: 100%;
  text-align: center !important;
  }  
  
  .vfmenu_selected {
  padding: 2px 4px;
  overflow: hidden;
  float:left;
  border: 1px;
  background-color: #5B74A8;
  height: 100%;
  text-align: center !important;
  }
  
  .vfmenu_selected a {color:#FFFFFF !important; font-weight: bold !important;}
  
  .vfsmenu_selected a {font-weight:bold !important;}  

  
  #vfmediatitle {
  padding: 6px;
  font-size: 150%;
  margin-bottom: 10px;
  }
  
  .vf_fbtheme, .vf_sidelist {
  background-color: #F2F2F2;
  border-color: #E9E9E9;
  border-style: solid;
  }
  
  .vf_fbtheme{border-width: 1px 0px;}  
  .vf_sidelist{padding: 4px; border-width: 1px; margin:auto;}
  
  .vftextbox{
  margin: 10px 0px;
  padding: 8px;
  font-size: 12px;
  }
  
  .vfaligntop{
  vertical-align:top;
  }
  
/*Container box for each list item*/

  .vfbox {
      position:relative;
      width:100%;
      height: 100%;
      text-align:left;
      padding-top:5px;
  }
  
  .vftitle{
      font-family:arial;
      font-size:14px;
  }
  
  .vfinfolist{
  font-family:arial;
  font-size:11px;
  }
  
  #vfsearch_msg {
    margin: 5px 0px;
  }
  
  .vf_hsolid_line {
  width:98%;
  margin-right:auto;
  margin-left:auto;
  border-bottom:1.5px solid #E9E9E9;
  height: 2px;
  } 
  
  .vf_vdotted_line {
  height:115px;
  border-right:1.5px dotted #E9E9E9;
  margin: 0px 2px;
  } 
  
  .vf_bgactive{background-color:#F2F2F2;}


/* Styles for each item in container box */

	.vflist1 { position:absolute; top:0px; left:0px; }
	.vflist2 { position:absolute; top:7px; left:7px; overflow: hidden; height:73px; padding-top: 0px; }
	.vflist3 { position:relative; text-align:left; width:100%; font-size:11px; line-height:15px; }
	/*.vflist4 { position:relative; text-align:left; width:260; font-size:11px; line-height:15px;  }*/
	.vflist5 { font-size:10px; font-weight:bold; }
	.vflist6 { font-size:11px; font-family:arial; }
	.vflist7 { padding-top:4px; padding-bottom:1px; }
	.vflist8 { position:relative; width:100%; margin-left:9px; height:20px; margin-top:8px; }
	.vflist10 { padding-left:7px; padding-top:2px; }
		
	.vf_lightbox{
  background-color: #000000;
  color:#FFFFFF;
  padding: 0px;
  margin:0px;
  }
	
	/* VideoFlow Modules */
	
  .mod_vflow {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  border:1px solid #E9E9E9;
  margin-right:auto;
  margin-left:auto;
  text-align:center; 
  width:100%; 
  }
    
  #mod_vflow2 {
  max-width: 300px;
  margin-left:2px;
  }
  	
  #vffooter{
  margin-right:auto;
  margin-left:auto;
  text-align:center; 
  width:100%;
  }
  
  #vffooter li {
  display:inline;
  padding: 2px 4px;
  }
  
  /*Styles specific to the default search form template - default_searc.php*/
  #vfsearch{
  margin-right:auto;
  margin-left:auto;
  text-align:center; 
  width:70%;
  padding: 10px 0px; 
  }
  

  /*Styles specific to the default player template - default_play.php*/
  
    
    
    .vf_img {
    border: 4px solid; 
    border-color: #E6E6E6 !important;
    }
    
    .vf_img a {color:#E6E6E6 !important; text-decoration: none !important;}
    
   
    .vf_sidetitle {
    overflow:hidden;
    }
    
    .vf_seemore {
    padding: 2px 10px;
    font-size: 10px;
    text-align: right;
    background-color: #F9F9F9;
    border: 0px;
    }
    
    .vf_rating {
    float:right;
    overflow:hidden;
    font-size: 12px;
    margin: 8px 0px 0px 4px;
    max-height:40px;
    }
    
    .mod_vfshare {
    float: left;
    margin: 8px 4px 2px 0px;
    max-height:36px;
    }

    
    .vf_infostats{width:100%; padding: 2px 0px;} .vf_cstats1{float:left;} .vf_cstats2{float:right}
    .vf_tools_icons {vertical-align:bottom;} 
    .vf_tools{float:left; margin:0px 5px 0px 2px; white-space:nowrap;}
    #vf_vidinfo{max-height:200px; overflow:hidden; margin:0px; padding: 0px;font-size:11px;}
    
    .vf_fbcomments{
    margin-bottom: 0px;
    }
    
    .vf_rlabel{
    background-color: #5B74A8;
    border: 1px solid #1A356E;  
    padding: 4px;
    text-align: center !important;
    color: #FFFFFF;
    font-weight:bold;
    font-size: 12px;
    }
    
    .vf_smessage{
      margin: 2px 10px 0px;
      text-align:left;
    }
    